#switch {
  width: 4.5em;
  height: 2.5em;
  border-radius: 2.5em;
  background: #dddddd;
}

#slider {
  position: relative;
  color: white;
  height: 2.5em;
  width: 2.5em;
  border-radius: 2.5em;
  text-align: center;
  line-height: 2.7em;
  transition: 0.3s;
}

.right {
  left: 2em;
  background: #4724ff;
}

.left {
  left: 0;
  background: #fc80ff;
}
