@import '../../../variables';

app-switch {
  @media (min-width: $mobile-cutoff) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: $mobile-cutoff) {
    position: relative;
    float: right;
    height: 100%;
    top: 0.75em;
  }
}

header {
  position: relative;
  box-sizing: border-box;
  height: 6em;
  padding: 1em;

  img {
    float: left;
    margin-left: 1em;
    height: 100%;

    @media (max-width: $mobile-cutoff) {
      float: left;
      width: 60%;
    }
  }
}

nav {
  float: right;
  height: 100%;

  @media (max-width: $mobile-cutoff) {
    position: absolute;
    bottom: -2.3em;
    left: 50%;
    transform: translate(-50%);
    height: 3em;
    width: 100%;
    text-align: center;
  }
}
