app-switch {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: relative;
  box-sizing: border-box;
  height: 6em;
  padding: 1em;

  img {
    float: left;
    margin-left: 1em;
    height: 100%;
  }
}

nav {
  float: right;
  height: 100%;
}
