@import '../../../variables';

app-switch {
  @media (min-width: $mobile-cutoff) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: $mobile-cutoff) {
    position: relative;
    float: right;
    height: 100%;
    top: 0.75em;
  }
}

header {
  box-sizing: border-box;
  height: 100%;
  padding: 1em;

  img {
    float: left;
    margin-left: 1em;
    height: 100%;

    @media (max-width: $mobile-cutoff) {
      float: left;
      height: 100%;
      width: 60%;
    }
  }
}

nav {
  float: right;
  height: 100%;

  @media (max-width: $mobile-cutoff) {
    display: none;
  }
}
