@import '../../../variables';

#sidebar {
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
  background: #757575;
  transition: 0.3s;

  @media (min-width: $mobile-cutoff) {
    top: 0;
    left: -13em;
    width: 14em;
    height: 100%;
  }

  @media (max-width: $mobile-cutoff) {
    width: 100%;
    bottom: -8.5em;
    white-space: nowrap;
    padding-top: 1em;
  }
}

#gate_selector {
  @media (min-width: $mobile-cutoff) {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    direction: rtl;
  }

  @media (max-width: $mobile-cutoff) {
    height: 100%;
    overflow-x: auto;
  }

  img {
    box-sizing: border-box;
    cursor: pointer;

    @media (min-width: $mobile-cutoff) {
      width: 100%;
      padding: 1em 2em;
      transition: 0.2s;

      &:hover {
        filter: brightness(70%);
      }
    }

    @media (max-width: $mobile-cutoff) {
      height: 8em;
      padding: 0.5em 2em;
      transition: 0.2s;
    }
  }
}

#sidebar_label {
  position: absolute;
  background: #757575;
  color: white;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $mobile-cutoff) {
    top: 50%;
    right: -2em;
    transform: translateY(-50%);
    border-radius: 0 1em 1em 0;
    width: 2em;
    height: 8em;
    padding: 1em;
    writing-mode: vertical-rl;

    /* safari only */
    @media not all and (min-resolution:.001dpcm) {
      right: 0;
    }
  }

  @media (max-width: $mobile-cutoff) {
    top: -4.9vh;
    left: 50%;
    transform: translateX(-50%);
    width: 8em;
    height: 5vh;
    border-radius: 1em 1em 0 0;
    line-height: 7vh;
  }
}

.show {
  @media (min-width: $mobile-cutoff) {
    left: 0 !important;
  }
  @media (max-width: $mobile-cutoff) {
    bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  background: #757575;
  width: 0.75em;
}

::-webkit-scrollbar-thumb {
  background: #999999;
}
