@import "../../../variables";

#message-container {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  padding: 1em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  line-height: 1.5;

  @media (min-width: $mobile-cutoff) {
    width: auto;
    cursor: pointer;
  }

  @media (max-width: $mobile-cutoff) {
    width: 100%;
    padding: 0.5em;
    font-size: 3vh;
    margin-bottom: 8vh;
  }
}

button {
  transition: 0.2s;
  padding: 0.6em 1em;
  margin: 0.5em;
  background: linear-gradient(135deg, #fc80ff, #4724ff);
  color: white;
  font-size: 20px;
  border-radius: 2em;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    filter: brightness(70%);
  }

  @media (max-width: $mobile-cutoff) {
    position: absolute;
    font-size: 12px;
    right: 0.5em;
    width: 8em;
    bottom: -6vh;
    padding: 0.5em;
  }
}
