#playground_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#qubit_grid {
  position: absolute;
  display: flex;
  width: 60vh;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 3em));
  flex-wrap: wrap;
}

.qubit {
  position: relative;
  flex: 25%;
  width: 25%;
  height: 25%;
  padding: 0.5em;
  box-sizing: border-box;

  img {
    transition: 0.3s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  &:hover {
    img {
      filter: invert(100%);
    }
  }

  p {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
