<div id="playground_container">
  <div id="qubit_container">
    <div class="qubit">
      <img src="assets/images/qubit.svg" alt="Qubit One" [style.transform]="'rotate(' + rotateQubit(qubitOne) + 'deg)'">
      <p class="qubit_name">α</p>
      <p class="qubit_state_zero">0</p>
      <p class="qubit_state_one">1</p>
    </div>
    <div class="qubit">
      <img src="assets/images/qubit.svg" alt="Qubit Two" [style.transform]="'rotate(' + rotateQubit(qubitTwo) + 'deg)'">
      <p class="qubit_name">β</p>
      <p class="qubit_state_zero">0</p>
      <p class="qubit_state_one">1</p>
    </div>
  </div>
</div>
