#playground_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#qubit_container {
  position: absolute;
  width: 80vh;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 3em));
  flex-wrap: wrap;
}

.qubit {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
  padding: 2em;
  box-sizing: border-box;
  cursor: pointer;

  img {
    transition: 0.5s;
  }

  &:hover {
    .qubit_img {
      filter: invert(100%);
    }
  }

  .qubit_name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
  }

  .qubit_state_zero, .qubit_state_one {
    position: absolute;
    height: 4vh;
  }

  .qubit_state_zero {
    top: 50%;
    transform: translateY(-50%);
    right: -2vh;
  }

  .qubit_state_one {
    left: 50%;
    transform: translateX(-50%);
    top: -2vh;
  }
}
